.App {
  width: 90vw;
  margin: 0 auto;
  text-align: center;
}
.banner {
  width: 100%;
}
main {
  display: flex;
  width: 100%;
}
.places {
  display: grid;
  width: 80%;
  grid-template-columns: repeat(3, 400px);
  column-gap: 50px;
  row-gap: 20px;
}
.favorites {
  width: 20%;
}
