.banner {
  width: 100%;
  height: 350px;
  margin: 0 auto 20px;
  background-image: url("./banner-bg.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  background-position-y: center;
}
.banner-content {
  color: white;
  padding: 20px;
}
.banner-title {
  display: inline-block;
  font-size: 3rem;
  font-weight: bold;
  color: black;
}
.banner-quote {
  font-weight: bold;
  font-size: 1.5rem;
}
